# Office A & B
# Switch L2, L3, & Router (Type 5 hashing)
conf t
hostname R1
enable secret jeremysitlab
username cisco secret ccna
line console 0
login local
exec-timeout 30 0
logging synchronous 
do write

# Switch L2, L3, & Router (Type 9 hashing)
conf t
hostname R1
enable algorithm-type scrypt secret jeremysitlab
username cisco algorithm-type scrypt secret jeremysitlab ccna
line console 0
login local
exec-timeout 30 0
logging synchronous 
do write