--- 1st config start ---
# Office A
# Switch L3 DSW-A1, A2
conf t
int range g1/0/4-5
 channel-group 1 mode desirable
 do write
 --- 1st config end ---



--- 2nd config start ---
# Office B
# Switch L3 DSW-B1, B2
conf t
int range g1/0/4-5
 channel-group 1 mode active
 do write
--- 2nd config end ---



--- 3rd config start ---
# Office A
# Switch L2 ASW-A1, A2 & A3
conf t
vlan 10
vlan 20
vlan 40
vlan 99
int range g0/1-2
 switchport mode trunk
 switchport nonegotiate
 switchport trunk native vlan 1000
 switchport trunk allowed vlan 10,20,40,99
 switchport trunk allowed vlan remove 1
do write

# Office A
# Switch L3 DSW-A1, A2
conf t
vlan 10
vlan 20
vlan 40
vlan 99
int po1
 switchport mode trunk
 switchport nonegotiate
 switchport trunk native vlan 1000
 switchport trunk allowed vlan 10,20,40,99
 switchport trunk allowed vlan remove 1
 end
conf t
int range g1/0/1-3
 conf t
 switchport mode trunk
 switchport nonegotiate
 switchport trunk native vlan 1000
 switchport trunk allowed vlan 10,20,40,99
 switchport trunk allowed vlan remove 1
do write

# Office B
# Switch L2 ASW-B1, B2 & B3
conf t
vlan 10
vlan 20
vlan 30
vlan 99
int range g0/1-2
 switchport mode trunk
 switchport nonegotiate
 switchport trunk native vlan 1000
 switchport trunk allowed vlan 10,20,30,99
 switchport trunk allowed vlan remove 1
do write

# Office B
# Switch L3 DSW-B1, B2
conf t
vlan 10
vlan 20
vlan 30
vlan 99
int po1
 switchport mode trunk
 switchport nonegotiate
 switchport trunk native vlan 1000
 switchport trunk allowed vlan 10,20,30,99
 switchport trunk allowed vlan remove 1
 end
conf t
int range g1/0/1-3
 conf t
 switchport mode trunk
 switchport nonegotiate
 switchport trunk native vlan 1000
 switchport trunk allowed vlan 10,20,30,99
 switchport trunk allowed vlan remove 1
do write
--- 3rd config end ---



--- 4th config start ---
# Office A & B
# Switch L3 DSW-A1, DSW-B1
conf t
vtp mode server
vtp version 2
vtp domain JeremysITLab
do write

# Office A & B
# Switch L2
conf t
vtp mode client
do write
--- 4th config end ---



--- 5th & 6th config start ---
# Office A
# Switch L3 DSW-A1
conf t
vlan 10
name PCs
vlan 20
name Phones
vlan 40
name Wi-Fi
vlan 99
name Management
do write

# Office B
# Switch L3 DSW-B1
conf t
vlan 10
name PCs
vlan 20
name Phones
vlan 30
name Servers
vlan 99
name Management
do write
--- 5th & 6th config end ---



--- 7th config start ---
# Office A & B
# Switch L2 ASW-A2, ASW-A3 & ASW-B2
conf t
int f0/1
 switchport mode access
 switchport access vlan 10
 switchport voice vlan 20 
 do write

# Office B
# Swtich L2 ASW-A1, ASW-B1 (LWAPs FlexConnect)
conf t
int f0/1
 switchport mode access
 do write

# Office B
# Switch L2 ASW-B3
conf t
int f0/1
 switchport mode access
 switchport access vlan 30
 do write
--- 7th config end ---



--- 8th config start --- 
# Office A
# Swtich L2 ASW-A1
conf t
int f0/2
 switchport mode trunk
 switchport nonegotiate
 switchport trunk native vlan 99
 switchport trunk allowed vlan 40,99
 switchport trunk allowed vlan remove 1
do write
--- 8th config end ---



--- 9th config start ---
# All (Just turn off unuser port)
